adbc_driver_manager==0.10.0
adbc_driver_postgresql==0.10.0
adbc_driver_sqlite==0.10.0
AppKit==0.2.8
argcomplete==3.2.3
asgiref==3.8.1
atomicwrites==1.4.1
BeautifulSoup==3.2.2
beautifulsoup4==4.12.3
boto3==1.34.70
botocore==1.34.70
brotli==1.1.0
brotlicffi==1.1.0.0
celery==5.3.6
coloredlogs==15.0.1
configobj==5.0.8
ConfigParser==6.0.1
contextlib2==21.6.0
cryptography==42.0.5
cycler==0.12.1
Cython==3.0.9
dash_leaflet==1.0.15
dash_testing_stub==0.0.2
dask==2024.3.1
defusedxml==0.7.1
diskcache==5.6.3
dl==0.1.0
docutils==0.20.1
eventlet==0.36.0
fast_dash==0.2.9
fastparquet==2024.2.0
fire==0.6.0
flask_compress==1.14
Foundation==0.1.0a0.dev1
fsspec==2024.3.1
gevent==24.2.1
greenlet==3.0.3
h2==4.1.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.99.13
inotify==0.2.10
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.2
jnius==1.1.0
js==1.0
keyring==25.0.0
matplotlib==3.8.3
mock==5.1.0
mtrand==0.1
multiprocess==0.70.16
mypy==1.9.0
numarray==1.5.1
Numeric==24.2
numexpr==2.9.0
odfpy==1.4.1
ordereddict==1.1
orjson==3.9.15
PasteScript==3.5.1
percy==2.0.2
pexpect==4.9.0
pickle5==0.0.12
Pillow==10.2.0
protobuf==5.26.0
psutil==5.9.8
PyInstaller==6.5.0
pyodide==0.0.2
pyOpenSSL==24.1.0
PyQt4==4.11.4
PyQt5==5.15.10
python_calamine==0.2.0
pyxlsb==1.0.10
qtpy==2.4.1
railroad==0.5.0
redis==5.0.3
s3fs==2024.3.1
scikit_learn==1.4.1.post1
scipy==1.12.0
selenium==4.18.1
setproctitle==1.3.3
sets==0.3.2
simplejson==3.19.2
skimage==0.0
Sphinx==7.2.6
SQLAlchemy==2.0.29
statsmodels==0.14.1
tables==3.9.2
thread==1.1.1
threadpoolctl==3.4.0
tornado==6.4
traitlets==5.14.2
trove_classifiers==2024.3.25
Twisted==24.3.0
ukkonen==1.0.1
unittest2==1.1.0
urllib3_secure_extra==0.1.0
vincent==0.4.4
watchdog==4.0.0
xarray==2024.2.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
zope==5.9
zstandard==0.22.0
gunicorn
pandas
dash-tools
